<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>chemlambda-js</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/esprima@~4.0/dist/esprima.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/viz.js/2.1.2/viz.js"></script>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- <script src="https://cdn.jsdelivr.net/gh/ariutta/svg-pan-zoom@3.6.0/dist/svg-pan-zoom.min.js"></script> -->

    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

    <!-- downloaded from https://github.com/mdaines/viz.js/releases/download/v2.1.2/lite.render.js -->
    <script src="vendor/lite.render.js"></script>

    <!-- in case of d3js visualization request -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdn.rawgit.com/gmamaladze/d3-dot-graph/cf08847e/build/d3-dot-graph.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>

    <style>
    /* https://jsfiddle.net/shadiakiki1986/b916cofL/ */
      svg {
        overflow: hidden;
      }

      .node rect {
        stroke: #333;
        stroke-width: 1.5px;
        fill: #fff;
      }

      .edgeLabel rect {
        fill: #fff;
      }

      .edgePath {
        stroke: #333;
        stroke-width: 1.5px;
        fill: none;
      }

      /* from https://cdn.rawgit.com/gmamaladze/d3-dot-graph/cf08847e/example/index.html */

      .links path {
        fill: none;
        stroke: #666;
        stroke-width: 1.5px;
      }

      .nodes circle {
        fill: #ccc;
        stroke: #fff;
        stroke-width: 1.5px;
      }

      .nodes text {
        fill: #000;
        font: 10px sans-serif;
        pointer-events: none;
      }

      /* d3js tooltips http://bl.ocks.org/d3noob/a22c42db65eb00d4e369 */
      div.tooltip {
          position: absolute;
          text-align: center;
          width: 60px;
          height: 28px;
          padding: 2px;
          font: 12px sans-serif;
          background: lightsteelblue;
          border: 0px;
          border-radius: 8px;
          pointer-events: none;
      }
    </style>

  </head>
  <body>




    <div id="app" class="container-fluid">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">chemlambda-js</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!--<li class="nav-item">
            </li>-->
          </ul>
          <form class="form-inline my-2 my-lg-0">

            <div class="form-group">
              <!--
                Use type=button to prevent bubbling of the event to the form submission
                https://stackoverflow.com/a/15031916/4126114
              -->
              <button class="btn btn-outline-primary my-2 my-sm-0" type="button" @click="resetInput()">
                New
                &nbsp;
                <span class="badge badge-primary">&gt;</span>
              </button>
            </div>

            <div class="form-group">
              &nbsp;
              Examples
              &nbsp;
              <select class="form-control mr-sm-2" v-model="jsExSelected">
                <option v-for="item in jsExamplesOpt" :value="item">{{item.title}}</option>
              </select>
            </div>

            <div class="form-group">
              <button class="btn btn-outline-success my-2 my-sm-0" type="button" @click="jsExOnChange()">
                Load
                &nbsp;
                <span class="badge badge-success">&gt;</span>
              </button>
            </div>

          </form>
          <div class="my-2 my-lg-0">
            <a class="nav-link" href="https://github.com/shadiakiki1986/chemlambda-js">
              <svg class="octicon octicon-mark-github v-align-middle" height="32" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true">
                <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
              </svg>
            </a>
          </div>
        </div>
      </nav>


      <h3>
        Lambda calculus plotter
      </h3>

      <!-- no longer needed as inline table
      <span>
        The syntax is a javascript function. Paste it in the box further below and click on "Plot".
        Examples:
      </span>

      <table>
        <tr>
          <td>lambda calculus</td>
          <td>function to paste in box</td>
        </tr>
        <tr>
          <td>λu.x</td>
          <td>
            <pre>u=>x</pre>
          </td>
        </tr>
        <tr>
          <td>λn.n(λu.x)</td>
          <td>
            <pre>n=> n (u=>x)</pre>
          </td>
        </tr>
        <tr>
          <td>three := λf.λx.f(f(f x))</td>
          <td>
            <pre>f => x => f(f(f(x)))</pre>
          </td>
        </tr>
        <tr>
          <td>PRED := λn.λf.λx.n (λg.λh.h (g f)) (λu.x) (λu.u)</td>
          <td>
            <pre>
      n => f => x => {
        var L4 = u1 => x
        var L5 = u2 => u2 // notice that this is u2 (versus u1 above) instead of plain "u"
        var L6 = g => h => h(g(f))
        return ((n(L6))(L4))(L5)
      }
            </pre>
          </td>
        </tr>
        <tr>
          <td>
            <pre>
      			PRED(three) (check above for definitions of PRED and three)
            </pre>
          </td>
          <td>
            <pre>
      PRED3 => {

        var PRED = n => f1 => x1 => {
          var L4 = u1 => x1
          var L5 = u2 => u2
          var L6 = g => h => h(g(f1))
          return ((n(L6))(L4))(L5)
        }

        var three = f2 => x2 => f2(f2(f2(x2)))

        return PRED(three)
      }
            </pre>
          </td>
        </tr>

      </table>
      -->


      <!-- Modal -->
      <div class="modal fade" id="dot1Modal"  role="dialog" aria-labelledby="dot1 Modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Graph dot script before re-writes</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <pre>{{dot1Auto}}</pre>

              <span>
                Copy-paste to <a href="http://viz-js.com/">viz.js</a>
                for experimentation
              </span>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="dot2Modal"  role="dialog" aria-labelledby="dot2 Modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Graph dot script after re-writes</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <pre>{{dot2Auto}}</pre>

              <span>
                Copy-paste to <a href="http://viz-js.com/">viz.js</a>
                for experimentation
              </span>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="rwSyntaxModal"  role="dialog" aria-labelledby="rw Syntax Modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Graph dot script after re-writes</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Syntax for re-writes

              <pre>
beta node1 node2
beta node1 node2 # comments after a hash character
dist (all|node_in) node_center (all|node_l) (all|node_r)
# dist node4 # comment out a line
...
</pre>

              For beta:
              <ul>
              <li>node1 should be of type "L", and node2 of type "A"</li>
              <li>node1 and node2 should be directly connected</li>
              <li>For the beta re-write to be a lambda-calculus beta reduction, the `L` should be connected to the left port of the `A`</li>
              </ul>

              For dist:
              <ul>
              <li>in the below, `node_center` denotes the 2nd argument in the example above (the same follows for other exemplified nodes)</li>
              <li>`node_l` denotes nodes connected to the "left output" of `node_center`</li>
              <li>`node_r` denotes nodes connected to the "right output" of `node_center`</li>
              <li>`node_in` denotes nodes connected to the "input" of `node_center`</li>
              <li>All nodes should be of type A or L</li>
              <li>at least one of `node_center`'s ports should be branching (fan in or fan out)</li>
              <li>if all of `node_center`'s possibly-multiple inputs is desired to have the `dist` applied, use the keyword "all" before `node_center`</li>
              <li>if only one of `node_center`'s possibly-multiple inputs is desired to have the `dist` applied, include its ID before `node_center`</li>
              <li>the same applies to `node_center`'s possibly-multiple branches on one of its outputs</li>
              </ul>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- column 1 for user input -->
        <div class="col-3">
          <form>

            <div class="form-group">
              <button type="button" class="form-control btn btn-outline-primary btn-block" @click="resetIntermezzo(); pushRw()">
                Run
                &nbsp;
                <span class="badge badge-primary">&gt;</span>
              </button>
            </div>

            <div v-if="error1Msg" class="alert alert-danger">
              Error in graph before re-writes:
              <br/>
              {{error1Msg}}
            </div>

            <div v-if="error2Msg" class="alert alert-danger">
              Error in graph after re-writes:
              <br/>
              {{error2Msg}}
            </div>


            <div class="form-group">
              <input type="text" class="form-control form-control-sm" v-model="inTitle" placeholder="Title"></input>
            </div>

            <div class="form-group">
              <input type="text" class="form-control form-control-sm" v-model="inDescription" placeholder="Description"></input>
            </div>

            <div class="form-group form-check">
              <input class="form-check-input" type="checkbox" v-model="extendedLabels" id="exampleCheck1" />
              <label class="form-check-label" for="exampleCheck1">Extended labels</label>
            </div>

            <div class="form-group">
              <label for="exampleFormControlSelect2">Visualization by</label>

              <select class="form-control form-control-sm" id="exampleFormControlSelect2" v-model="graphManager">
                <option value="vizjs" selected>vizjs</option>
                <option value="d3js">d3js</option>
              </select>
            </div>

            <div class="form-group">
              <label for="exampleFormControlSelect1">Graph from</label>

              <select class="form-control form-control-sm" id="exampleFormControlSelect1" v-model="dot1From">
                <option value="lambda" selected>Lambda terms</option>
                <option value="custom">Custom graph</option>
              </select>
            </div>

            <div class="form-group" v-if="dot1From == 'lambda'">
              <label for="exampleFormControlTextarea2">Lambda terms (javascript)</label>
              <textarea class="form-control" id="exampleFormControlTextarea2" rows="3" v-model="inJavascript"></textarea>
            </div>


            <div class="form-group" v-if="dot1From == 'custom'">
              <label for="exampleFormControlTextarea3">Custom graph (dot script)</label>

              <textarea class="form-control" id="exampleFormControlTextarea3" rows="3" v-model="dot1Manual"></textarea>

              <span>
                Copy-paste to <a href="http://viz-js.com/">viz.js</a>
                and perform graph re-writes there
              </span>
            </div>


            <div class="form-group">

              <label for="exampleFormControlTextarea4">
                Initial Re-writes
                &nbsp;
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#rwSyntaxModal" title="Help on re-writes syntax">
                  ?
                </button>
              </label>

              <textarea class="form-control" id="exampleFormControlTextarea4" rows="3" v-model="rwTxtInitial"></textarea>

              Suggested re-write history

              <ol>
                <li v-if="rwValSuggested.length == 0">None</li>
                <li v-for="rwi in rwValSuggested">{{array2txt(rwi)}}</li>
              </ol>
            </div>

          </form>

        </div>



        <!-- column 2 for graph before/after re-writes -->
        <div class="col-8" v-if="!!dict1Auto || !!dict2Auto">

          <div v-if="rwValInitial.length > 0 && !!dot2Auto" class="row">
            <div class="col-2">
              Initial re-writes
            </div>
            <div class="col-10">
              <input type="range" id="cowbell1"
                     min="0" :max="rwValInitial.length"  step="1" v-model="rwRangeInitial"
                     v-on:change="resetIntermezzo(); pushRw()"
                     :disabled="!rwValInitial.length"
                     >
              <label for="cowbell1">Step {{rwRangeInitial}}/{{rwValInitial.length}}</label>
              (
              <span v-if="rwRangeInitial == 0">initial</span>
              <span v-if="rwRangeInitial > 0">{{array2txt(rwValInitial[rwRangeInitial-1])}}</span>
              -&gt;
              <span v-if="rwRangeInitial < rwValInitial.length">{{array2txt(rwValInitial[rwRangeInitial  ])}}</span>
              <span v-if="rwRangeInitial == rwValInitial.length">end</span>
              )
            </div>
          </div>


          <div class="row">
            <div class="col-2">
              Suggested re-writes
            </div>

            <div class="col-10">
              <div>
                <form class="form-inline row">
                  <div>
                    <label for="suggestedRwRestriction">
                      Filter
                    </label>
                    <select class="form-control mr-sm-2" v-model="suggestedRwRestriction" id="suggestedRwRestriction">
                      <option value="beta reduction">Beta reduction</option>
                      <option value="all">All</option>
                    </select>
                  </div>

                  <div>
                    <label for="suggestedRwMethod">Choose</label>
                    <select v-model="suggestedRwMethod" :disabled="suggestedRwAll.length==0 || suggestedRwInProgress" id="suggestedRwMethod">
                      <option value="selected">Selected</option>
                      <option value="random">Random</option>
                    </select>
                  </div>

                  <div>
                    <label for="suggestedRwSelected">
                    List
                    &nbsp;
                    <span class="badge badge-secondary">{{suggestedRwAll.length}}</span>
                    </label>
                    <select v-model="suggestedRwSelected" :disabled="suggestedRwInProgress || suggestedRwAll.length==0" id="suggestedRwSelected">
                      <option v-for="item in suggestedRwAll" v-bind:value="item">{{item}}</option>
                    </select>
                  </div>

                  <div>
                    <button type="button" @click="suggestedRwAppend(false, true)" class="btn btn-sm btn-info" :disabled="(!suggestedRwSelected && suggestedRwMethod=='selected') || suggestedRwAll.length==0 || suggestedRwInProgress">
                      Step once
                    </button>

                    &nbsp;

                    <button type="button" @click="suggestedRwAppend(true, true)" class="btn btn-sm btn-info" :disabled="suggestedRwMethod!='random' || suggestedRwAll.length==0 || suggestedRwInProgress">
                      Roll out {{suggestedRwMax}}
                    </button>
                  </div>
                </form>
              </div>

              <div>
                <input type="range" id="cowbell2"
                       min="0" :max="rwValSuggested.length"  step="1" v-model="rwRangeSuggested"
                       v-on:change="pushRw()"
                       :disabled="!rwValSuggested.length"
                       >
                <label for="cowbell2">Step {{rwRangeSuggested}}/{{rwValSuggested.length}}</label>
                <span v-if="rwRangeSuggested == 0">
                  (initial)
                </span>
                <span v-if="rwRangeSuggested > 0">
                  ({{array2txt(rwValSuggested[rwRangeSuggested-1])}})
                </span>

                <button type="button" class="btn btn-outline-warning" @click="resetIntermezzo(); pushRw()" :disabled="rwValSuggested.length==0">
                  Reset
                  &nbsp;
                  <span class="badge badge-warning">&gt;</span>
                </button>
              </div>
            </div>

          </div>


          <div v-if="suggestedRwInProgress" class="alert alert-warning">
            Roll out in progress...
          </div>

          <div v-if="!error1Msg &&  graph1Visible && !!dot1Auto">
            Graph

            <button @click="graph1Visible = !graph1Visible" class="btn btn-sm btn-info" :disabled="!dot2Auto">
              before
            </button>

            re-writes

            <small>
              &nbsp;
              &nbsp;
              &nbsp;
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#dot1Modal">
                Export
              </button>
            </small>

            <div v-html="graph1Svg.outerHTML" v-if="graphManager=='vizjs'">
            </div>

            <div id="graph1Cont" v-if="graphManager=='d3js'"></div>
          </div>

          <div v-if="!error2Msg && !graph1Visible && !!dot2Auto">
            Graph
            <button @click="graph1Visible = !graph1Visible" class="btn btn-sm btn-info">
              after
            </button>
            re-writes

            <small>
              &nbsp;
              &nbsp;
              &nbsp;
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#dot2Modal">
                Export
              </button>
            </small>

            <div v-html="graph2Svg.outerHTML" v-if="!error2Msg && graphManager=='vizjs'">
            </div>

            <!-- div for the tooltip in d3js -->
            <div class="tooltip" style="opacity:0;" id="d3jsTooltip"></div>

            <!-- div for d3js -->
            <div id="graph2Cont" v-if="graphManager=='d3js'"></div>

          </div>

        </div><!-- end of col-8 for middle pane -->

        <div class="col-1">
          <button @click="simulateAllPaths()">Simulate many paths</button>
          <div v-html="pathsSvg.outerHTML" v-if="!pathsErrorMsg && pathsDot">
          </div>
          <div v-if="pathsErrorMsg" class="alert alert-danger">
            {{pathsErrorMsg}}
          </div>
        </div>
      </div>


      <footer class="footer mt-auto py-3">
        <div class="container">
          <span class="text-muted">
            Found a bug? File an issue on <a href="https://github.com/shadiakiki1986/chemlambda-js">github</a>
          </span>
        </div>
      </footer>

    </div> <!-- end main container of page -->

    <script src="Utils.js"></script>
    <script src="MovesVisualizer.js"></script>
    <script src="LambdaTerms.js"></script>
    <script src="GlobalIdRegister.js"></script>
    <script src="LambdaReader.js"></script>
    <script src="GraphRewriter.js"></script>
    <script src="GraphVisualizerD3js.js"></script>
    <script src="index.js"></script>

  </body>

</html>
